<li class="comment">
  <%= comment.text %>

  <%= button_to "Delete", post_comment_path(comment.post, comment),
                method: "delete",
                class: "button",
                form: {data: {type: "html", action: "ajax:success->comments#delete"}},
                remote: true %>

  <%= button_to "Edit", edit_post_comment_path(comment.post, comment),
                method: "get",
                class: "button",
                form: {data: {type: "html", action: "ajax:success->comments#edit"}},
                remote: true %>
</li>
