<div class="search">
  <%= render 'search_form' %>
</div>
<div class="display">
  <div class="title">
    <%= @post.title %>
  </div>
  <div class="body">
    <%= @post.body %>
  </div>
  <%= button_to 'Delete Post', @post, method: :delete %>
</div>


