<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>CareerPlug Coding Challenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <h1>CAREER PLUG</h1>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
